body {
   background-color: red;
   color: #fff;
   margin: 0px;
   font-family: sans-serif;
   text-align: center;
  }
  
  
  .inputBox {
     display: block;
     margin: 10px;
     padding: 5px;
     
  }
  
  .listSave {
    text-align: center;
    display: block;
  }
  .boxfield {
    display: block;
    position: center;
  }
  